/*reset*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;

}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.wrapper {
    height: 100vh; /*altura* vh corresponde ao tamanho do dispositivo 100vh é 100% do dispositivo -vh e vw são usadas para altura e largura*/ 
    width: 100vw; /*largura*/
    background: linear-gradient(-50deg, #5e0878, #0c0b35, rgb(214, 162, 199),rgb(112, 95, 177) ); /*background para mudança de cor*/
    background-size: 400% 400%; /*vai ocupar todo o espaço para fazer a animação*/
    /*neste momento aparece apenas a ultima cor*/
    display: flex;
    flex-direction: column; /*especifica os itens flexiveis*//*columm alinha uma em cima da outra e preenche todo o espaço*/
    justify-content: center; /*espeficica como os itens flexiveis são colocados no conteiner*/
    align-items: center;
    animation: backgroundTransition /*name nome da animação*/
    8s/*duration tempo que ela leva a concluir tudo*/
    ease-in-out /*timing-function tempo da curva*/
    /* nao inseriu mas tem a opção delay tempo antes de começar*/
    infinite /* iteration-count quantas vezes vai repetir*/
    /* nao inseriu mas tem a opçãodirection onde vai ocorrer*/
    /* nao inseriu mas tem a opção fill-mode;estilo antes e depois da execução da animação
    */
}


@keyframes backgroundTransition /*nome da animação*/ { /*tempos de animação*/
    0%{
        background-position: 0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0% 90%;
    }
    
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler .active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: rgb(235, 171, 197);
}

.theme-toggler::before{
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}


#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.15);
}

button#equal {
    height: 130px;
}


.calculator {
    background-color: #fff;
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: rgb(112, 95, 177);
    color: rgba(210,53,165);
}

.calculator button.btn-number {
    background-color: rgb(157, 150, 182);
    color: #000;
}

.calculator button.btn-operator {
    background-color: rgb(214, 162, 199);
    color: #000;
}

.calculator button.btn-equal {
    background-color: rgb(112, 95, 177);
    color:  rgba(210,53,165);
}

/*dark*/


.calculator.dark {
    background-color: #0c0b35;
}

.calculator.dark #display {
    color: #bbcbe2;
}

.calculator.dark button#clear {
    background-color: #2d191e;
    color: #bbcbe2;
}


.calculator button.btn-number {
    background-color: rgb(157, 150, 182);
    color: #000;
}

.calculator.dark button.btn-operator {
    background-color: #2e1f39;
    color: #aa00a4;
}

.calculator.dark button.btn-equal {
    background-color: #9b99a3;
    color: #000;
}